.overflow {
  overflow-y: auto;
}

.overflow-hidden {
  overflow-y: hidden;
}

.wrapper {
  display: grid;
  height: calc(100vh - 5rem - 3.5rem - 5rem);
  grid-template-columns: 15.625rem 1fr;

  .sidenav {
    .list {
      user-select: none;

      .search-item {
        margin-top: 10px;

        .search {
          width: 100%;
        }
      }

      .item {
        div {
          a {
            text-decoration: none;
            color: black;
          }

          h2 {
            margin: 0px;
          }
        }

        .selectable:hover {
          cursor: pointer;
          a {
            color: var(--primary-color);
          }
        }
      }
    }

    .remove-overflow {
      overflow-y: none;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
  }
}

.full-size {
  grid-template-columns: 1fr;
}

.active {
  color: var(--primary-color) !important;
}