header {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: var(--primary-color);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

main {
  width: 100%;
  height: calc(100vh - 56px);
  display: grid;
  grid-template-rows: 1fr;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  position: relative;
  top: 56px;
  left: 0px;

  .sidenav {
    width: 250px;
    max-width: 250px;
    overflow-x: auto;
    line-break: anywhere;

    .search-item {
      margin-top: 10px;

      .mat-form-field {
        width: 100%;
      }
    }

    .mat-toolbar {
      background-color: transparent;
    }
  }

  mat-sidenav-content {
    position: relative;
    overflow: hidden;

    .scroll-container {
      height: 100%;
      overflow: auto;
    }

    mat-toolbar {
      position: fixed;
      z-index: 20;
      height: 80px;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;

      section {
        width: 95%;
        display: flex;
        align-items: center;
        gap: 10px;

        h1,
        button {
          font-weight: 300;
          font-size: 20px;
          color: white;
        }
      }
    }
  }
}

.margin-top-topic {
  margin-top: 80px;
  height: calc(100% - 80px);
}

.after-resize-header {
  height: 90px;
}

.after-resize-main {
  top: 90px;
  height: calc(100vh - 90px);

  mat-sidenav {
    top: 90px !important;
  }
}