<header [ngClass]="{'after-resize-header':(isHandset$ | async)}">
  <app-header></app-header>
</header>
<main [ngClass]="{'after-resize-main':(isHandset$ | async)}">
  <mat-sidenav-container>
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
    >
      <mat-nav-list>
        <div class="search-item">
          <mat-list-item role="search">
            <mat-form-field>
              <mat-label>ფილტრაცია</mat-label>
              <input [(ngModel)]="searchValue" (input)="filterSubject()" matInput placeholder="მაგალითად HTML">
            </mat-form-field>
          </mat-list-item>
        </div>
        <div *ngFor="let subject of subjects">
          <div *ngIf="subject.isSelectable;else headerTopic">
            <a mat-list-item routerLink="subject/{{subject.route}}" (click)="drawer.close()">{{ subject | subjectFormatter}}</a>
          </div>
          <ng-template #headerTopic>
            <mat-toolbar>{{ subject | subjectFormatter }}</mat-toolbar>
          </ng-template>
        </div>
        <div *ngIf="!isMatch">
          <p>თემა ვერ მოიძებნა</p>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar *ngIf="showToolBar" class="topic">
        <section>
          <div *ngIf="isRouteSubject">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
          <h1 *ngIf="!isRouteNotFound">{{ toolBarName | capitalize }}</h1>
          <h1 *ngIf="isRouteNotFound">გვერდი ვერ მოიძებნა</h1>
        </section>
      </mat-toolbar>
      <section [ngClass]="{'margin-top-topic': showToolBar}">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>
    <app-footer></app-footer>
  </footer>
</main>