.scrollUp {
  width: 1.875rem;
  height: 1.875rem;
  position: fixed;
  right: 1.25rem;
  bottom: 5.625rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  background-color: var(--primary-color);
  z-index: 100;

  mat-icon {
    color: white;
  }
}