form {
  width: 90%;
  height: calc(100vh - 5rem - 3.5rem - 10rem);
  margin: 1.563rem auto;
  padding: 1.563rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.938rem;
  overflow-y: auto;

  .static {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.938rem;

    .wrap {
      display: flex;
      justify-content: space-between;
      gap: 0.625rem;

      mat-form-field {
        flex-grow: 1;
      }
    }
  }

  .generated {
    .buttons {
      display: flex;
      gap: 0.625rem;
    }

    .wrap {
      width: 100%;
      padding: 25px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;

      .content-header {
        display: flex;
        align-items: center;
        gap: 0.625rem;

        h3 {
          margin: 0px !important;
        }
      }

      .info {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.938rem;
      }

      .content {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.938rem;

        .group {
          display: flex;
          justify-content: space-between;
          gap: 0.625rem;

          mat-form-field {
            flex-grow: 1;
          }
        }
      }
    }
  }
}