.error-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #263238;
  padding: 10px;

  .error-logger{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1em;
    color: white;
    line-break: anywhere;

    .fa-check{
      color: green;
    }

    .fa-triangle-exclamation {
      color: red;
    }

    .fa-copy {
      color: white;
      cursor: pointer;

      &:hover {
        color: var(--primary-color);
        transition:all 0.3s ease;
      }
    }
  }
}
