section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    aside {
      display: flex;
      justify-content: center;
      align-items: center;

      a,
      span {
        color: white;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;

        img {
          width: 25px;
          height: 25px;
        }
      }

      .active {
        font-weight: 800;
      }
    }

    .middle {
      justify-content: flex-start;
      flex-grow: 1;
    }

    .right {
      .space {
        width: 5px;
        display: inline-block;
      }
    }
  }
}

.after-resize-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  .wrapper {
    width: 100%;
    justify-content: center;
  }

  .after-resize {
    width: 85%;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      a,
      span {
        color: white;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}