<section [ngClass]="{'after-resize-wrapper':(isHandset$ | async)}">
  <div class="wrapper">
    <aside class="left">
      <span class="logo" routerLink="/">ისწავლე</span>
    </aside>
    <aside class="middle" *ngIf="!(isHandset$ | async)">
      <nav>
        <a mat-button routerLink="/subject">თემები</a>
        <a mat-button routerLink="/editor">ედითორი</a>
        <a mat-button routerLink="/tasks">დავალებები</a>
      </nav>
    </aside>
    <aside class="right">
      <a href="https://github.com/KostaD02/educate" target="_blank">
        <i class="fa-brands fa-github"></i>
        <span>GitHub</span>
      </a>
    </aside>
  </div>
  <div class="after-resize" *ngIf="isHandset$ | async">
    <nav>
      <a mat-button routerLink="/subject">თემები</a>
      <a mat-button routerLink="/editor">ედითორი</a>
      <a mat-button routerLink="/tasks">დავალებები</a>
    </nav>
  </div>
</section>