<section [ngClass]="{'after-resize-wrapper':(isHandset$ | async)}">
  <div class="wrapper">
    <aside class="left">
      <a mat-button class="logo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">მთავარი</a>
    </aside>
    <aside class="middle" *ngIf="!(isHandset$ | async)">
      <nav>
        <a mat-button routerLink="/subject" routerLinkActive="active">თემები</a>
        <a mat-button routerLink="/editor" routerLinkActive="active">ედითორი</a>
        <a mat-button routerLink="/tasks" routerLinkActive="active">დავალებები</a>
      </nav>
    </aside>
    <aside class="right">
      <a href="https://github.com/KostaD02/educate" target="_blank">
        <i class="fa-brands fa-github"></i>
        <span>GitHub</span>
      </a>
    </aside>
  </div>
  <div class="after-resize" *ngIf="isHandset$ | async">
    <nav>
      <a mat-button routerLink="/subject" routerLinkActive="active">თემები</a>
      <a mat-button routerLink="/editor" routerLinkActive="active">ედითორი</a>
      <a mat-button routerLink="/tasks" routerLinkActive="active">დავალებები</a>
    </nav>
  </div>
</section>