section {
  padding: 1.5rem 3.125rem 2.5rem;

  .notfound {
    user-select: none;
    h2 {
      text-align: center;
      font-size: 1.5rem;
    }

    app-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55vh;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;

  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 25px;

    .right {

      ul {
        position: sticky;
        top: 2.188rem;
        list-style: none;
        padding-left: 0px;
        margin: 0px;

        li {
          margin: 0px;

          a {
            border-left: 2px solid #cdcdcd;
            color: #4e4e4e;
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              color: var(--primary-color);
            }
          }

          a.active {
            background-color: #0085f230;
            border-left: 2px solid var(--primary-color);
            color: black;
            font-weight: 500;
          }
        }
      }
    }
  }

  .full-size-side {
    grid-template-columns: 1fr;
  }
}

.example-code {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  padding: 10px;
}

h3 {
  margin: 0px 0px 10px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

app-example-code {
  max-width: 100%;
  overflow-x: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 599px) {
  section {
    padding: 20px 20px 40px;
  }
  .content {
    .wrapper {
      grid-template-columns: 1fr;

      .right {
        display: none;
      }
    }
  }
}