<section *ngIf="subject">
  <h2>{{subject.prefix}} {{subject.name}}</h2>
  <article class="content">
    <div class="wrap" *ngFor="let subjectResponse of subject.data">
      <div *ngIf="subjectResponse.isNativeElement" [innerHTML]="subjectResponse.content | noSanitize"></div>
      <div *ngIf="!subjectResponse.isNativeElement && subjectResponse.isCodeExample" class="example-code">
        <h3 *ngIf="subjectResponse.data?.title">{{subjectResponse.data?.title}}</h3>
        <app-example-code class="code" [language]="subjectResponse.data?.language || ''" [code]="subjectResponse.data?.code || ''"></app-example-code>
        <div *ngIf="subjectResponse.data?.routerLink">
          <button mat-raised-button color="primary" [routerLink]="subjectResponse.data?.routerLink">გამოიყენე კოდი</button>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button *ngIf="backRoute()" mat-raised-button color="primary" [routerLink]="backRoute()">უკანა თემა</button>
      <button *ngIf="nextRoute()" mat-raised-button color="primary" [routerLink]="nextRoute()">შემდეგი თემა</button>
    </div>
  </article>
</section>
<article *ngIf="!subject">
  <ngx-skeleton-loader count="30" animation="pulse"></ngx-skeleton-loader>
</article>