.subject-card {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  height: calc(100% - 1.875rem);
  width: 11.25rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: white;
  padding: 15px;
  color: black;

  .chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}
