@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";
@import "codemirror/addon/hint/show-hint.css";
@import "codemirror/addon/fold/foldgutter.css";

:root {
  --primary-color: #3f51b5;
  --primary-color-hover: #3347ba8b;
  --primary-font: Roboto, "Helvetica Neue", sans-serif;
}

body { // TODO update px values
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
  box-sizing: border-box;
  background-color: white;
}

.disable-select {
  user-select: none;
}

.swal2-actions {
  margin: 0px !important;
}