.wrapper {
  width: 100%;
  height: calc(100vh - 5rem - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .code {
    padding: 25px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;

    .top {
      text-align: center;
    }

    .bottom form {
      min-width: 31.25rem;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;

      textarea {
        height: 3.125rem;
        resize: none;
      }
    }
  }
}